.header{
    
    
    
    &__container{
        width: 98vw;
        display: flex;
        position: fixed;
        top: 0;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        
        
        &__nav{
            margin: 10px 50px;
            
            &--logo{
                
                width: 45px;
                border-radius: 50%;
                
            }
        }

        
        a{
            text-decoration: none;
            color: #FFFFFF;
            margin: 0 10px;
        }
    }
}