

.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #262626;
    text-align: center;
  


    
    &__main{
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
    
        &--barra{
            width: 94vw;
            height: 2px;
            background-color: #fff;
            margin-top: 10px;
        }

        &--music{
            list-style: circle;
            display: flex;
            align-items: center;
            width: 95vw;
            
            p{
                margin: 0 5px;
            }
        }
        
        &--texto{
            padding: 3.75rem 0.625rem 8.125rem 2.5vw;
            font-size: 3vw;
            font-weight: bold;
            text-align: start;
        }

        &--titulo{
            text-align: start;
        }

        &__create{
            width: 98vw;
            margin: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            img{
                width: 45vw;
            }

            p{
                font-size: 1rem;
            }
            &--parrafo{
                margin: 0 20px;
                width: 25vw;
                text-align: start;
                font-weight: bold;

                &--boton{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 1em 0;
                    width: 100%;
                    border: 2px solid #fff;
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
        h1{
            font-size: 23vw;
        }

        h2{
            font-size: 6.1vw;
        }
        
        &--fotoCentral{
            width: 95vw;
        }

        
    
    }
}


